body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
nav a {
    color: white;
    transition: transform 0.3s ease;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}
nav a: hover {
    color: white;
    transform: scale(1.2);
}

.transparent-sheet {
    width: 90%; 
    height: 300px;
    margin: 50px auto; 
    padding: 20px;
    background: rgba(195, 0, 0, 0.8);
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
